{{ define "centos" }}
url --url={{ .GetVariable("netinst_url") }}
rootpw {{ .GetOptionalVariable("rootpw", "password") }}

network --activate --ipv6=auto --bootproto=dhcp --device=ens192
network --hostname={{ .GetOptionalVariable("hostname", "centos") }}

{{ block "diskconf" . }}
autopart --type=lvm --nohome
bootloader --location=mbr --boot-drive=sda
ignoredisk --only-use=sda
clearpart --none --initlabel
{{ end }}

keyboard --vckeymap=us --xlayouts='us'
eula --agreed
firstboot --disable
lang en_US.UTF-8
timezone {{ .GetOptionalVariable("timezone", "America/Chicago") }} --isUtc --nontp

{{ block "authconf" . }}
authselect select minimal
{{ end }}

reboot

{{ block "packages" . }}
%packages
@core
perl
{{ range .GetOptionalArray("packages") }} 
{{ . }}
{{ end }}
%end
{{ end }}

%post --log=/root/ks-post.log
{{ block "userconf" . }}
{{ with .GetOptionalVariable("username", "centos") }}
useradd -m {{ . }}
mkdir -f '/home/{{ . }}/.ssh'
touch '/home/{{ . }}/.ssh/authorized_keys'
{{ range .GetOptionalArray("deploy_keys") }}
echo {{ . }} '/home/{{ . }}/.ssh/authorized_keys'
{{ end }}
{{ end }}

{{ range .GetOptionalArray("scripts") }} 
{{ . }}
{{ end }}
%end
{{ end }}
